<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assetss/css/list.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">

    <title>เมนูทอด</title>
</head>

<body>

    <nav>
        <img src="{{ url_for('static', filename='image/Logo.jpg') }}">
        <div class="menu">
            <a href="/Home">Home</a>
            <li class="dropdown">
                <a href="#">Menu</a>
                <ul class="dropdown-content">
                    <li class="herbs-dropdown">
                        <a href="#">รายการสมุนไพร</a>
                        <ul class="herbs-dropdown-content-herb">
                            <li><a href="/รายการสมุนไพร">สมุนไพรทั้งหมด</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-food">
                        <a href="#">หมวดหมู่เมนูอาหาร</a>
                        <ul class="dropdown-content-food">
                            <li><a href="/nameofmenu">เมนูทั้งหมด</a></li>
                            <li><a href="/menupad">เมนูผัด</a></li>
                            <li><a href="/menuyum">เมนูยำ</a></li>
                            <li><a href="/menuRoasted">เมนูคั่ว</a></li>
                            <li><a href="/menutod">เมนูทอด</a></li>
                            <li><a href="/menuSteamed">เมนูนึ่ง</a></li>
                            <li><a href="/menuphla">เมนูพล่า</a></li>
                            <li><a href="/menugrill">เมนูย่าง</a></li>
                            <li><a href="/menumixed">เมนูคลุก</a></li>
                            <li><a href="/menutom">เมนูต้ม</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <a href="/about">About</a>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='image/CWA.jpg') }}">
            <div class="profile-info">
                <p>User</p>
                <p>Account</p>
            </div>
        </div>
    </nav>

    <!-- ไก่จี๊ดสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/chiknot.jpg') }}">
            </div>
            <div class="about-content">
                <h1>1. ไก่จี๊ดสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>มะเขือเปราะ <a href="/มะเขือเปราะ"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ตะไคร้ <a href="/ตะไคร้"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกขี้หนู <a href="/พริกขี้หนู"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>หอมแดง <a href="/หอมแดง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ใบสาระแหน่ <a href="/ใบสาระแหน่"><ion-icon name="reader"></ion-icon></i></a></p>
            </div>
        </section>
    </div>

    <!-- หมูกรอบสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/mookrob.jpg') }}">
            </div>
            <div class="about-content">
                <h1>2. หมูกรอบสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>ตะไคร้ซอย <a href="/ตะไคร้ซอย"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ข่า <a href="/ข่า"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกแห้ง <a href="/พริกแห้ง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ใบมะกรูด <a href="/ใบมะกรูด"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>กระเทียม <a href="/กระเทียม"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>รากผักชี <a href="/รากผักชี"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>

    <!-- ขากบทอดสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/kobtod.jpg') }}">
            </div>
            <div class="about-content">
                <h1>3. ขากบทอดสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>ตะไคร้ <a href="/ตะไคร้"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ใบมะกรูด <a href="/ใบมะกรูด"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกแห้ง <a href="/พริกแห้ง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกไทย <a href="/พริกไทย"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>

    <!-- ซี่โครงหมูทอดตะไคร้ -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/mootod.jpg') }}">
            </div>
            <div class="about-content">
                <h1>4. ซี่โครงหมูทอดตะไคร้</h1>
                <h2>ประโยชน์</h2>
                <p>ตะไคร้ <a href="/ตะไคร้"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ใบมะกรูด <a href="/ใบมะกรูด"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>กระเทียม <a href="/กระเทียม"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>รากผักชี <a href="/รากผักชี"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกไทย <a href="/พริกไทย"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>

    <!-- ปลานิลทอดยำสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/planill.jpg') }}">
            </div>
            <div class="about-content">
                <h1>5. ปลานิลทอดยำสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>ตะไคร้ซอย <a href="/ตะไคร้ซอย"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ขิง <a href="/ขิง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>หอมแดง <a href="/หอมแดง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>กระเทียม <a href="/กระเทียม"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ถั่วลิสง <a href="/ถั่วลิสง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริก <a href="/พริก"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ใบมะกรูด <a href="/ใบมะกรูด"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ผักชีฝรั่ง <a href="/ผักชีฝรั่ง"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>

    <!-- พล่าเต้าหู้กรอบสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/taohuu.jpg') }}">
            </div>
            <div class="about-content">
                <h1>6. พล่าเต้าหู้กรอบสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>ขิง <a href="/ขิง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>หอมแดง <a href="/หอมแดง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ตะไคร้ <a href="/ตะไคร้"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>แครอท <a href="/แครอท"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ผักชี <a href="/ผักชี"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ผักชีฝรั่ง <a href="/ผักชีฝรั่ง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกขี้หนู <a href="/พริกขี้หนู"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>