<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assetss/css/list.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">

    <title>เมนูคลุก</title>
</head>

<body>

    <nav>
        <img src="{{ url_for('static', filename='image/Logo.jpg') }}">

        <div class="menu">
            <a href="/Home">Home</a>
            <li class="dropdown">
                <a href="#">Menu</a>
                <ul class="dropdown-content">
                    <li class="herbs-dropdown">
                        <a href="#">รายการสมุนไพร</a>
                        <ul class="herbs-dropdown-content-herb">
                            <li><a href="/รายการสมุนไพร">สมุนไพรทั้งหมด</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-food">
                        <a href="#">หมวดหมู่เมนูอาหาร</a>
                        <ul class="dropdown-content-food">
                            <li><a href="/nameofmenu">เมนูทั้งหมด</a></li>
                            <li><a href="/menupad">เมนูผัด</a></li>
                            <li><a href="/menuyum">เมนูยำ</a></li>
                            <li><a href="/menuRoasted">เมนูคั่ว</a></li>
                            <li><a href="/menutod">เมนูทอด</a></li>
                            <li><a href="/menuSteamed">เมนูนึ่ง</a></li>
                            <li><a href="/menuphla">เมนูพล่า</a></li>
                            <li><a href="/menugrill">เมนูย่าง</a></li>
                            <li><a href="/menumixed">เมนูคลุก</a></li>
                            <li><a href="/menutom">เมนูต้ม</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <a href="/about">About</a>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='image/CWA.jpg') }}">
            <div class="profile-info">
                <p>User</p>
                <p>Account</p>
            </div>
        </div>
    </nav>

    <!-- ข้าวคลุกปลาทูสมุนไพร -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/cookplatoo.jpg') }}">
            </div>
            <div class="about-content">
                <h1>1. ข้าวคลุกปลาทูสมุนไพร</h1>
                <h2>ประโยชน์</h2>
                <p>หอมแดง <a href="/หอมแดง"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>พริกขี้หนูซอย <a href="/พริกขี้หนูซอย"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>มะนาว <a href="/มะนาว"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>แตงกวา <a href="/แตงกวา"><ion-icon name="reader"></ion-icon></i></a></p>
                <p>ตะไคร้ซอย<a href="/ตะไคร้ซอย"><ion-icon name="reader"></ion-icon></i></a></p>

            </div>
        </section>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>