<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assetss/css/list.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">

    <title>กระเทียม</title>
</head>

<body>

    <nav>
        <img src="{{ url_for('static', filename='image/กระเทียม.jpg') }}">
        <div class="menu">
            <a href="/Home">Home</a>
            <li class="dropdown">
                <a href="#">Menu</a>
                <ul class="dropdown-content">
                    <li class="herbs-dropdown">
                        <a href="#">รายการสมุนไพร</a>
                        <ul class="herbs-dropdown-content-herb">
                            <li><a href="/รายการสมุนไพร">สมุนไพรทั้งหมด</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-food">
                        <a href="#">หมวดหมู่เมนูอาหาร</a>
                        <ul class="dropdown-content-food">
                            <li><a href="/nameofmenu">เมนูทั้งหมด</a></li>
                            <li><a href="/menupad">เมนูผัด</a></li>
                            <li><a href="/menuyum">เมนูยำ</a></li>
                            <li><a href="/menuRoasted">เมนูคั่ว</a></li>
                            <li><a href="/menutod">เมนูทอด</a></li>
                            <li><a href="/menuSteamed">เมนูนึ่ง</a></li>
                            <li><a href="/menuphla">เมนูพล่า</a></li>
                            <li><a href="/menugrill">เมนูย่าง</a></li>
                            <li><a href="/menumixed">เมนูคลุก</a></li>
                            <li><a href="/menutom">เมนูต้ม</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <a href="/about">About</a>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='image/CWA.jpg') }}">
            <div class="profile-info">
                <p>User</p>
                <p>Account</p>
            </div>
        </div>
    </nav>

    <!-- กระเทียม -->
    <div class="container">
        <section class="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='image/กระเทียม.jpg') }}">
            </div>
            <div class="about-content">
                <h1>1. กระเทียม</h1>
                <p>1. ช่วยบำงผิวหน้าให้มีสุขภาพดีและแข็งแรง
                    2. ช่วยเสริมสร้างการเจริญเติบโตของเนื้อเยื่อในร่างกาย
                    3. ช่วยป้องกันการเกิดโรคมะเร็ง
                    4. ช่วยเสริมสร้างภูมิต้านทานให้แก่ร่างกาย
                    5. ช่วยลดระดับคอเลสเตอรอลและน้ำตาลในเลือด
                    6. ช่วยปรับสมดุลในร่างกาย
                    7. ช่วยแก้อาการวิงเวียนศีรษะ อาการมึนงง ปวดศีรษะ หูอื้อ
                    8. ช่วยรักษาโรคความดันโลหิต
                    9. ช่วยป้องกันการเกิดโรคหัวใจ ลดความเสี่ยงของหัวใจล้มเหลวเฉียบพลัน
                    10. ช่วยต่อต้านเนื้องอก
                </p>
            </div>
        </section>
    </div>

</body>

</html>